@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logosfont{
      color:#fffb47;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
}

.connectbox{
  box-shadow: 4px 4px 0px 1px black;
}

.shitbox{
  box-shadow: 4px 4px 0px 1px #fffb47;

}
.presalebox{
  box-shadow: 4px 4px 0px 1px #fff4d4;
}

.progressfont{
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%; /* Start the text off the right side of the element */
  animation: marquee 60s linear infinite; /* Adjust the duration as needed */
}

@keyframes grow-shrink {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
}

.grow-shrink {
  @apply transition-transform duration-500;
  animation: grow-shrink 2s infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
}

/* Create the wiggle class */
.wiggle {
  animation: wiggle 0.5s ease infinite;
}

@keyframes wiggle2 {
  0%{ transform: rotate(-5deg); }
  15% { transform: rotate(5deg); }
  30% { transform: rotate(-5deg); }
  45% { transform: rotate(5deg); }
  60% { transform: rotate(-5deg); }
  70% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  90% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }

}

.wiggle2 {
  animation: wiggle2 1s ease-in-out;
  background-color: #2FFF2F; /* Change background color to green */
  transition: background-color 1s ease-in-out; /* Smooth transition */
}

#game-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.game-over-overlay {
  position: absolute;
  top: 10;
  left: 10;

  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; /* Text color */
  font-size: 2rem; /* Adjust as needed */
  z-index: 1000; /* Ensure overlay appears above other elements */
}

.game-over-overlay h1 {
  margin-bottom: 20px;
}

.game-over-overlay button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}