@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logosfont{
      color:#fffb47;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
}

.connectbox{
  box-shadow: 4px 4px 0px 1px black;
}
.presalebox{
  box-shadow: 4px 4px 0px 1px #fff4d4;
}

.progressfont{
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%; /* Start the text off the right side of the element */
  animation: marquee 60s linear infinite; /* Adjust the duration as needed */
}

@keyframes grow-shrink {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
}

.grow-shrink {
  @apply transition-transform duration-500;
  animation: grow-shrink 2s infinite;
}

